<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amp.mapper.PlatformAccountInfoMapper">

    <resultMap id="BaseResultMap" type="com.amp.domain.PlatformAccountInfo">
        <result property="id" column="id" />
        <result property="username" column="user_name" />
        <result property="password" column="password" />
        <result property="platformId" column="platform_id" />
        <result property="status" column="status" />
        <result property="price" column="price" />
        <result property="userId" column="user_id" />
        <result property="endTime" column="end_time" />
        <result property="description" column="description" />
        <result property="createdBy" column="created_by" />
        <result property="createTime" column="create_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <resultMap id="AccountResultMap" type="com.amp.vo.UserAccountVO">
        <result property="username" column="user_name" />
        <result property="password" column="password" />
        <result property="platformName" column="platform_name" />
        <result property="nickname" column="nickname" />
        <result property="phone" column="phone" />
        <result property="icon" column="icon" />
    </resultMap>


    <sql id="PlatformAccountInfoVo">
         id, user_name, category_id, description , status, created_by, updated_by, create_time, update_time
    </sql>


    <select id="selectList" parameterType="com.amp.domain.PlatformAccountInfo" resultMap="BaseResultMap">
        select <include refid="PlatformAccountInfoVo"/> from amp_platform_account_info
        <where>
            <if test="username != null  and username != ''">and user_name like concat('%', #{username}, '%')</if>
            <if test="platformId != null  and platformId != ''">and platform_id = #{platformId}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectOneByPlatformId" parameterType="String" resultMap="AccountResultMap">
        select a.user_name,
               a.password,
               p.name platform_name,
               p.icon,
               u.nickname,
               u.phone,
               ex.use_count
        from amp_platform_account_info a
        left join amp_account_extend ex on a.id = ex.account_id
        left join amp_platform_info p on a.platform_id = p.id
        left join amp_user_info u on a.user_id = u.id
        where a.platform_id = #{platformId}
        order by ex.use_count limit 1
    </select>

    <select id="selectAccountList" parameterType="com.amp.domain.PlatformAccountInfo" resultMap="AccountResultMap">
        select a.user_name,
               a.password,
               p.name platform_name,
               p.icon,
               u.nickname,
               u.phone,
               ex.use_count
        from amp_platform_account_info a
        left join amp_account_extend ex on a.id = ex.account_id
        left join amp_platform_info p on a.platform_id = p.id
        left join amp_user_info u on a.user_id = u.id
        <where>
            <if test="platformId != null and platformId != ''"> and a.platform_id = #{platformId}</if>
            <if test="userId != null and userId != ''"> and a.user_id = #{platformId}</if>
            <if test="status != null and status != ''"> and a.status = #{status}</if>
        </where>
    </select>


    <select id="isExists" parameterType="com.amp.domain.PlatformAccountInfo" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM amp_platform_account_info
        <where>
            and status = 'active'
            <if test="platformId != null and platformId != ''"> and platform_id = #{platformId}</if>
            <if test="userName != null and userName != ''"> and user_name = #{userName}</if>
            <if test="id != null and id != ''"> and id != #{id}</if>
        </where>
    </select>


    <update id="update" parameterType="com.amp.domain.PlatformAccountInfo">
        update amp_platform_account_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="platformId != null and platformId != ''">platform_id = #{platformId},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="price != null">price = #{price},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="endTime != null ">end_time = #{endTime},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

</mapper>


